- title t(:title)

- form_for @<%= user_session_singular_name %>, :url => object_path do |f|
  = f.error_messages
  - f.fieldset do
    - f.required_field :login
    - f.field do
      = f.required :password
      = f.password_field :password
    - f.field do
      %label &nbsp;
      = f.submit t(:submit)

%ol.actions
  %li.signup= link_to t(:signup), signup_path
