- title t(:title)

- form_for @<%= user_singular_name %>, :url => @<%= user_singular_name %>  do |f|
  = f.error_messages
  - f.fieldset do
    - f.required_field :login
    - f.required_field :email
    - f.field do
      = f.required :password
      = f.password_field :password
    - f.field do
      = f.required :password_confirmation
      = f.password_field :password_confirmation
    - f.field do
      %label &nbsp;
      = f.submit t(:submit)

%ol.actions
  %li.login= link_to t(:login), login_path
