<%% title "<%= singular_name.titleize %>" %>

<%- if action? :index -%>
<ol class="actions">
  <li><%%= link_to "View All", <%= plural_name %>_path %></li>
</ol>
<%- end -%>

<%- for attribute in attributes -%>
<p>
  <strong><%= attribute.column.human_name.titleize %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<%- if action? :edit -%>
<ol class="actions">
  <li><%%= link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>) %></li>
</ol>
<%- end -%>
